* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  a {
    color: unset;
    text-decoration: none;
  }
  :root {
    font-size: 62.5%;
    --website-background-default-color: rgb(0, 0, 0);
    --website-text-default-color: white;
    --black: black;
    --linear-grad: linear-gradient(#000000, var(--changing-text-color));
    --nav-item-color: rgb(255, 255, 255);
    --main-image-height: 90vh;
    --main-heading-font-size: 4rem;
    --nav-components: 2.2rem;
    --changing-text-color: #f8b704;
    --changing-text-size: 5rem;
    --border: 0.1rem;
    --border-radius: 0.5rem;
    --secondary-headings: 3rem;
    --special-margin: 5rem;
    --aspect-ratio: 16/9;
    --font-itim: "Itim", cursive;
    --font-currsive: "Dancing Script", cursive;
    --font-Nunito: "Nunito", sans-serif;
    --width-100vw: 100vw;
    --letter-spacing: 5px;
    --gap: 1vmin;
    --text-size: 3rem;
    --word-spacing: 0.5rem;
    --medium: medium;
  }
  ::selection {
    background: hsla(50, 3%, 42%, 0.555);
  }

  body {
    font-family: var(--font-Nunito);
    overflow-x: hidden;
    background-image: url("../media/images/Header/main-img.jpg");
    background-size: cover;
    color: black;
    overflow-x: hidden;
  }

  /* scrollbar design code here */
  body::-webkit-scrollbar {
    width: 0.3rem;
  }

  body::-webkit-scrollbar-track {
    background-color: var(--changing-text-color);
  }

  body::-webkit-scrollbar-thumb {
    background-color: rgb(45, 85, 104);
    border-radius: var(--border-radius);
  }
  nav {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-around;
    z-index: 2;
  }

  nav h1 {
    cursor: pointer;
    background-image: linear-gradient(
      45deg,
      rgb(255, 255, 255),
      rgb(255, 255, 255)
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: "Merienda", cursive;
    font-size: var(--main-heading-font-size);
    z-index: 2;
  }

  nav ul {
    width: 60vw;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: var(--nav-components);
  }

  nav ul li {
    color: var(--nav-item-color);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    position: relative;
  }

  nav h1:hover {
    background-image: linear-gradient(
      45deg,
      rgb(255, 255, 255),
      var(--changing-text-color)
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  nav ul li::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 100%;
    left: 50%;
    background-color: var(--changing-text-color);
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }

  nav ul li:hover::after {
    content: "";
    width: 98%;
    height: 0.1rem;
    transform: translateX(-50%);
    background-color: var(--changing-text-color);
    opacity: 1;
  }

  nav ul li:hover {
    color: var(--changing-text-color);
    transform: scale(1.1, 1.1);
  }

  nav ul li .logout:hover{
    color: rgb(255, 115, 0);
    transform: scale(1.1, 1.1);
  }

  
  /* nav bar for mobile screens */

  .container {
    height: 70px;
    width: 70px;
    background-color: #000000;
    border-radius: 50px;
    position: relative;
    transition: 0.4s ease;
    display: none;
    z-index: 1000;
  }

  .container.active {
    height: 420px;
  }

  .toogleBox {
    position: relative;
    display: block;
    height: 70px;
    width: 70px;
    border-radius: 50%;
  }
  .icon {
    position: absolute;
    height: 4px;
    width: 35px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
  }

  .toogleBox.active .icon {
    width: 0;
  }

  .icon::before,
  .icon::after {
    position: absolute;
    content: "";
    height: 4px;
    width: 35px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    transition: 0.3s;
  }

  .icon::before {
    top: 12px;
  }

  .icon::after {
    bottom: 8px;
  }

  .toogleBox.active .icon::before {
    width: 40px;
    transform: translate(-25px, 4px) rotate(45deg);
    transform-origin: right;
  }

  .toogleBox.active .icon::after {
    width: 40px;
    transform: translate(-25px, -5px) rotate(-45deg);
    transform-origin: right;
  }

  .navItems {
    width: 100%;
    visibility: hidden;
  }

  .container.active .navItems {
    visibility: visible;
  }

  li a i {
    position: relative;
    display: block;
    font-size: 18px;
    color: white;
    padding: 25px 0;
    width: 100%;
    text-align: center;
  }

  li a i::after {
    position: absolute;
    content: "";
    top: 50%;
    right: 0;
    width: 0x;
    height: 50%;
    transform: translateY(-50%);
    background-color: var(--changing-text-color);
    border-radius: 8px 0 0 8px;
  }

  li:hover a i::after {
    width: 8px;
    transition: 0.3s;
  }

  .container.active .navItems li a i {
    transform: scale(1);
    transition: 0.4s ease;
    color: rgb(255, 255, 255);
    transition-delay: calc(0.08s * var(--i));
  }

  .container.active .navItems li:hover a i {
    transition: 0.2s ease;
    color: var(--changing-text-color);
  }

  li a span {
    position: absolute;
    color: white;
    margin: 22px 0;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 2px;
    background-color: rgba(0, 0, 0, 0.479);
    padding: 0 10px;
    border-radius: 50px;
  }

  .container.active .navItems li a span {
    transform: translateX(15px);
    transition: 0.4s ease;
    transition-delay: calc(0.08s * var(--g));
  }

  .container.active .navItems li:hover a span {
    transform: translateX(30px);
    transition: 0.2s ease;
    color: var(--changing-text-color);
  }

  .book-me-container-container {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .book-me-container {
    min-width: 80vw;
    min-height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .book-me-box {
    background-color: rgba(0, 0, 0, 0.76);
    color: white;
    position: relative;
    margin: 2rem;
    /* border: 2px solid var(--changing-text-color); */
    border-radius: 1rem;
    /* box-shadow: var(--changing-text-color) 5px 5px, #fab802ce 10px 10px,
      #f8b70452 15px 15px, #f8b7041f 20px 20px, #f8b70413 25px 25px; */
    transition: all 0.3s ease-in-out;
  }

  .book-me-box:hover {
    background-color: rgb(0, 0, 0);
    border-radius: 5rem;
    box-shadow: rgb(0, 0, 0) 5px 5px, #000000ce 10px 10px,
      #00000052 15px 15px, #0000001f 20px 20px, #00000013 25px 25px;
    transform: scale(1.02);
  }

  .box-name {
    font-size: 2rem;
    width: 100%;
    position: absolute;
    top: 5%;
    text-align: center;
    padding: 0 1rem;
  }

  .circle-price {
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid var(--changing-text-color);
    box-shadow: inset black -10px -5px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 2rem;
  }

  .box-content ul {
    list-style-type: none;
    width: 100%;
    height: 50%;
    position: absolute;
    top: 40%;
    left: 10%;
    text-align: left;
  }
  .box-content ul li {
    font-size: 1.7rem;
    margin-bottom: 1rem;
    padding: 0 2rem;
  }

  .box-content ul li::before {
    content: "\2022";
    color: var(--changing-text-color);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }

  .anchor-btn {
    width: 65%;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, 0);
    background-image: linear-gradient(
      90deg,
      rgba(194, 148, 23, 0.596),
      #08080867
    );
    border-radius: 5rem 0 5rem 0;
    padding: 0.5rem 5rem;
    color: white;
    box-shadow: 0.1vmin 0.1vmin 3vmin rgb(77, 73, 73);
    transition: all 200ms ease-in-out;
    font-size: 2rem;
  }

  .anchor-btn:hover {
    background-image: linear-gradient(
      90deg,
      rgba(255, 187, 0, 0.788),
      #080808e3
    );
    box-shadow: rgb(199, 152, 23) 1px 1px 3px, #000000ce 10px 10px,
      #00000052 15px 15px, #0000001f 20px 20px, #00000013 25px 25px;
  }

  .anchor-btn:active {
    box-shadow: inset 0.1vmin 0.1vmin rgb(102, 99, 99);
  }

  @media screen and (max-width: 1032px) {
    .book-me-container {
      grid-template-columns: 1fr;
    }
    .book-me-box {
      height: 70vh;
    }

  }
  @media screen and (max-width: 819px){
    
    .nav-bar-big{
      display: none;
    }

    .container {
      display: block;
      position: fixed;
      top: 10%;
      left: 5%;
    }
  }

  @media screen and (max-width:385px){
    .box-content ul li {
      font-size: 1.5rem;
    }
  }
  @media screen and (max-width: 296px){
    nav h1{
     text-align: center;
    }
  }