.loader{
    position:fixed;
    top:0;
    left:0;
    width: 100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(21, 20, 22);
    transition: opacity 0.75%,visibility 0.75s;
    z-index: 100000;
}

.loader-hidden{
    opacity:0;
    visibility: hidden;
}

.loader::after{
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #d8cece;
    border-top-color: #7449f5;
    border-radius: 50%;
    animation: loading .75s ease infinite;
}

@keyframes loading {
    from{
        transform:rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}